---
---

//
// IMPORTS
//

@import "reset";
@import "open-color";
@import "variables";
@import "dark-theme";
@import "icons";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $base-color;
  line-height: 1.6;
  overflow-wrap: break-word;
  font-size: 1.1em;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 1em 0 15px;
  padding: 0;
  letter-spacing: .3px;
  font-weight: 900;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 2.3em;
  line-height: 1.4;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.65em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.05em;
}

p {
  margin: 15px 0;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active, &:focus {
    color: $link-color;
  }
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

hr {
  border: 0;
  border-top: 1px solid $divider-color;
  margin: 1.5em auto;
}

kbd {
  background: #efefef;
  padding: 2px 6px;
  color: #444;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

// Yeun's list style
// https://gist.github.com/yeun/d824fc7b04b756508f4b0143535cec30

ol, ul {
  > li {
    &:before {
      position: absolute;
      width: $li-bullets-width;
      margin-left: -$li-bullets-width;
      display: inline-block;
      box-sizing: border-box;
      text-align: right;
    }
  }
}

ul {
  > li:before {
    content: "\2022";
    padding-right: $ul-bullets-right-space;
    font-family: $ul-bullets-font;
    font-size: $ul-bullets-font-size;
    line-height: $ul-bullets-font-line-height;
  }
}

ol {
  counter-reset: section;

  > li:before {
    counter-increment: section;
    content: counter(section) ".";
    padding-right: $ol-bullets-right-space;
    font-family: $ol-bullets-font;
    font-size: $ol-bullets-font-size;
    line-height: $ol-bullets-font-line-height;
  }
}

ol, ul {
  > li {
    margin: 0 auto $li-bottom-space $li-bullets-width;
    line-height: $li-line-height;

    > ol,
    > ul {
      margin-top: $li-bottom-space;
    }
  }
}

li {
  > ol,
  > ul {
    > li {
      font-size: ($li-child-size-ratio * 1em);
      margin: 0 auto ($li-bottom-space * $li-child-size-ratio) ($li-bullets-width * $li-child-size-ratio);
    }
  }
}

// Definition list
dt {
  float: left;
  width: $dt-width;
  overflow: auto;
  clear: left;
  text-align: right;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: $li-bottom-space;

  @include mobile {
    width: 120px;
  }
}

dd {
  margin-left: $dd-position;
  margin-bottom: $li-bottom-space;

  @include mobile {
    margin-left: 140px;
  }
}

// Table
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid $table-border-color;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $table-background-color;
}

// Blockquote
blockquote {
  font-weight: 300;
  padding: 0 0 0 1.4rem;
  margin: 0 2rem 1rem 0;
  border-left: .2em solid $blockquote-border-color;

  p {
    color: $blockquote-color;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Image
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1em;
  border-radius: 5px;
}

// Specify the color of the selection
::-moz-selection {
  color: $selection-color;
  background: $selection-background-color;
}
::selection {
  color: $selection-color;
  background: $selection-background-color;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.masthead {
  padding: 20px 0;
  margin-bottom: 30px;

  @include mobile {
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.site-avatar {
  width: 65px;
  height: 65px;
  margin: 0 15px 0 0;
  padding: 5px;
  border-radius: 5px;
  background: #3e3e3e;

  img {
    border-radius: 5px;
  }
}

.site-name {
  margin: 0;
  color: $base-color;
  font-weight: 200;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

.nav-controls {
  margin-left: auto;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    flex: 1 0 100%;
    margin-top: 20px;
    font-size: 16px;
  }

  nav {
    @include mobile {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }

  a {
    margin-left: 17px;
    color: $base-color;
    text-align: right;
    letter-spacing: 1px;

    &:hover,
    &.active {
      color: $link-color;
      text-decoration: underline;
      text-underline-offset: 5px;
      text-decoration-thickness: 2px;
    }

    @include mobile {
      margin: 0;
    }
  }
}

// Posts
.posts > .post {
  padding-bottom: 1em;
}

.posts h2 {
  margin-bottom: .1em;
  font-size: 30px;
}

.posts,
.post {
  h2 a {
    color: inherit;
    &:hover, &:active {
      color: $link-color;
    }
  }
}

.post {
  h1 {
    margin: 0 0 10px;
  }

  .date {
    font-size: $small-font-size;
    color: $base-lighten-color;
    margin-right: 3px;
  }

  .tag {
    display: inline;
    font-weight: 300;
    font-size: $small-font-size;

    li:before {
      content: '';
    }

    li {
      display: inline;
      margin: 0;

      > a {
        margin: 3px 3px 3px 0;
        padding: 4px 8px;
        color: $tag-index-label-color;
        background-color: $tag-index-label-background-color;
        border-radius: 3px;
        border: 1px solid #ccc;
      }
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.entry {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    margin: 0 auto;
  }

  figure {
    margin: 20px 0;
  }

  .figure-centered {
    width: 80%;
    margin: 20px auto;
  }
}

figcaption,
.figcaption {
  display: block;
  margin: 20px 0 0;
  color: #555;
  text-align: center;
  font-size: 0.75em;
}

.pagination {
  font-weight: 300;
  padding: 2em 0;
  width: 100%;
  display: inline-block;

  @include mobile {
    font-size: 15px;
    padding: 0.5em 0;
  }

  > .prev {
    float: left;
    width: 50%;
    a {
      color: $pagination-color;
      &:hover, &:focus {
        color: $pagination-hover-color;
      }
    }
  }

  > .next {
    float: right;
    text-align: right;
    width: 50%;
    a {
      color: $pagination-color;
      &:hover, &:focus {
        color: $pagination-hover-color;
      }
    }
  }
}

.reading-time {
  display: inline-block;
  margin: 10px 0;
  font-size: 14px;
  color: $base-lighten-color;
}

// Archive
.archive {
  time {
    color: $base-lighten-color;
    font-size: $small-font-size;
    font-weight: 300;
    margin-left: 3px;
  }
}

// Tags
.tags > .label {
  > li:before {
    content: "";
  }

  > li {
    margin: 0;
    font-size: $small-font-size;
    font-weight: 300;
    display: inline;

    > a {
      display: inline-block;
      margin: 1px;
      color: $tag-index-label-color;
      background-color: $tag-index-label-background-color;
      border-radius: 3px;
      border: 1px solid #ccc;

      span {
        float: left;
        padding: .5px 5px;

        &.count {
          background-color: $tag-index-count-background-color;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
}

.tags {
  time {
    color: $base-lighten-color;
    font-size: $small-font-size;
    font-weight: 300;
    margin-left: 3px;
  }
}

// Footer
.footer {
  margin-top: 20px;
  border-top: 1px solid $footer-border-color;
  background-color: $footer-background-color;
  padding: 20px 0;
  text-align: center;

  p {
    font-size: 0.75em;
    line-height: 2;

    @include mobile {
      line-height: 2.3;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0 10px;
    flex: 0 0 35px;

    &::before {
      display: none;
    }

    svg {
      fill: #222;
    }
  }

  a:hover svg {
    fill: $link-color;
  }
}

.yt-iframe {
  width: 100%;
  height: 420px;
}

.shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .25);
}

.tags-container {
  margin: 20px 0;
}

.tags-label {
  font-size: 1.2em;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
}

#carbonads {
  display: block;
  overflow: hidden;
  max-width: 728px;
  position: relative;
  background-color: hsl(0, 0%, 99%);
  border: solid 1px #eee;
  font-size: 22px;
  box-sizing: content-box;
}

#carbonads > span {
  display: block;
}

#carbonads a {
  color: #212529;
  text-decoration: none;
}

#carbonads a:hover {
  color: #212529;
}

.carbon-wrap {
  display: flex;
  align-items: center;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
  height: 100px;
  width: auto;
  margin: 0;
}

.carbon-text {
  display: block;
  padding: 0 1em;
  line-height: 1.35;
  text-align: left;
  font-size: 0.75em;
}

.carbon-poweredby {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px 10px;
  background: repeating-linear-gradient(
                  -45deg,
                  transparent,
                  transparent 5px,
                  hsla(0, 0%, 0%, 0.025) 5px,
                  hsla(0, 0%, 0%, 0.025) 10px
  )
  hsla(203, 11%, 95%, 0.8);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  border-top-left-radius: 4px;
  line-height: 1;
}

.note {
  background-color: #ecf3f6;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;

  code {
    font-size: 0.85em;
  }
}

.meta {
  margin-bottom: 15px;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  .carbon-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 560px) {
  .yt-iframe {
    height: 55vw;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
