<head>
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>

  {% include meta.html %}
  {% if false %}
  	{% include fonts.html %}
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <link id="favicon" rel="icon" type="image/x-icon" href="{{ site.baseurl }}{{ site.avatar }}">

  <script async src="https://widget.kultee.com/kultee.min.js"></script> <script> window.onload = () => { window.KulteeWidget("0e15af7c-2477-40fc-a411-5cb4604d0b5d");};</script>
</head>