<script type="text/javascript">
  (function (w, d) {
    const toggle = document.getElementById("theme-toggle");
    const avatar = d.querySelector(".avatar");

    function toggleTheme(e) {
      const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches
      let theme = isDark ? "dark" : "light"
      if (window.localStorage.theme && !e) {
        theme = window.localStorage.theme
        avatar.src = theme === "light" ? "/images/logo-dark.webp" : "/images/logo.webp";
      } else if (e) {
        const currentTheme = window.localStorage.theme || theme;
        document.body.classList.remove("theme-" + currentTheme);
        window.localStorage.theme = currentTheme === "light" ? "dark" : "light";
        theme = window.localStorage.theme;
      } else if (!window.localStorage.theme && isDark) {
        theme = "dark"
        avatar.src = "/images/logo-dark.webp";
      } 
      
      document.body.classList.add("theme-" + theme);
    }

    toggle.addEventListener("click", toggleTheme);

    toggleTheme();
  })(window, document);
</script>