<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    {% include nav.html %}

    <main id="main" role="main" class="container">
      {{ content }}
    </main>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
    <script type="text/javascript">
      (function (w, d) {
        var themeToggle = document.getElementById("theme-toggle");
        var m = d.querySelector("#main")
        var i = m.querySelectorAll("img,iframe,video");

        function toggleTheme(e) {
          var theme = window.localStorage.theme;
          if (window.localStorage.theme && e) {
            document.body.classList.remove("theme-" + theme);
            window.localStorage.theme = theme === "light" ? "dark" : "light";
          } else if (!window.localStorage.theme) {
            window.localStorage.theme = "light";
          }
          document.body.classList.add("theme-" + window.localStorage.theme);
        }
        themeToggle.addEventListener("click", toggleTheme);
        toggleTheme();

        if (i.length) {
          var b = d.body;
          var s = d.createElement("script"); s.async = true;
          s.src = "https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js";
          b.appendChild(s);

          function initLozad () {
            if (window.lozad) {
              var observer = lozad();
              observer.observe();
            } else {
              setTimeout(function () {
                initLozad();
              }, 90);
            }
          }
          initLozad();
        }
      })(window, document);
    </script>
  </body>
</html>
