---
layout: default
---

<div class="post-container">
  <article class="post">
    <h1>{{ page.title }}</h1>

    <div class="meta">
      <b class="date">Published: </b>
      <time class="date" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date_to_string }}
      </time> · 
      {% if page.updated %}
        <b class="date">Updated: </b>
        <time class="date" datetime="{{ page.updated | date_to_xmlschema }}">
          {{ page.updated | date_to_string }}
        </time> · 
      {% endif %}
      <span class="reading-time"><b>Reading time:</b> {% include reading-time.html %}</span>
    </div>

    <div class="entry">
      {{ content }}
    </div>
    {% include share-bar.html %}
    <div class="tags-container">
      <b class="tags-label">Tags: </b>
      <ul class="tag">
        {% for tag in page.tags %}
        <li>
          <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <hr />

    <div class="pagination">
      {% if page.previous.url %}
        <span class="prev" >
            <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
              ⟨ Previous
              <br />
              <b>{{ page.previous.title }}</b>
            </a>
        </span>
      {% endif %}
      {% if page.next.url %}
        <span class="next" >
            <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
              Next ⟩
              <br />
              <b>{{ page.next.title }}</b>
            </a>
        </span>
      {% endif %}
    </div>

    {% include disqus.html %}
  </article>
  
<a class="side-banner" href="https://click.linksynergy.com/fs-bin/click?id=uO5jDXAeFC8&offerid=1060092.1349&subid=0&type=4">
    <IMG border="0" loading="lazy" alt="Top online courses in Web Development" src="https://ad.linksynergy.com/fs-bin/show?id=uO5jDXAeFC8&bids=1060092.1349&subid=0&type=4&gridnum=9">
  </a>
</div>
<a class="bottom-banner" href="https://click.linksynergy.com/fs-bin/click?id=uO5jDXAeFC8&offerid=1060092.1581&subid=0&type=4">
  <IMG border="0" loading="lazy" alt="Top online courses in Web Development" src="https://ad.linksynergy.com/fs-bin/show?id=uO5jDXAeFC8&bids=1060092.1581&subid=0&type=4&gridnum=16">
</a>
