---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="meta">
    <b class="date">Published: </b>
    <time class="date" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date_to_string }}
    </time> · 
    <span class="reading-time"><b>Reading time:</b> {% include reading-time.html %}</span>
  </div>

  <div class="entry">
    {{ content }}
  </div>
  {% include share-bar.html %}
  <div class="tags-container">
    <b class="tags-label">Tags: </b>
    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <hr />


  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            ⟨ {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            {{ page.next.title }} ⟩
          </a>
      </span>
    {% endif %}
  </div>

  {% include disqus.html %}
</article>